/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html,
body {
  width: 100%;
  height: 100%;
  background: #fff;
  font-family: "KH Teka", sans-serif;
  font-size: 16px;
  font-style: normal;
}
html,
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
p {
  font-size: 0.95rem;
}

@layer base {
  @font-face {
    font-family: "KH Teka";
    font-weight: 400;
    src: local("KH Teka"), url(/fonts/KH_Teka/KHTeka-Regular.woff) format("woff");
  }

  @font-face {
    font-family: "KH Teka";
    font-weight: 200;
    src: local("KH Teka"), url(/fonts/KH_Teka/KHTeka-Light.woff) format("woff");
  }

  @font-face {
    font-family: "KH Teka";
    font-weight: 500;
    src: local("KH Teka"), url(/fonts/KH_Teka/KHTeka-Medium.woff) format("woff");
  }

  @font-face {
    font-family: "KH Teka";
    font-weight: 700;
    src: local("KH Teka"), url(/fonts/KH_Teka/KHTeka-Bold.woff) format("woff");
  }

  @font-face {
    font-family: "KH Teka";
    font-weight: 900;
    src: local("KH Teka"), url(/fonts/KH_Teka/KHTeka-Black.woff) format("woff");
  }
}

@layer components {
  .button {
    @apply flex-shrink-0 block px-4 py-2 font-medium rounded-md border border-transparent text-base align-middle text-center leading-button shadow-sm;
  }

  .button:disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  .button:disabled:hover {
    @apply opacity-50 cursor-not-allowed;
  }

  .button-primary {
    @apply bg-indigo-600 text-white transition duration-150 ease-in-out;
  }

  .button-seconday {
    @apply bg-indigo-200 text-indigo-700  transition duration-150 ease-in-out;
  }

  .button-primary:focus {
    @apply outline-none ring-2 ring-offset-2 ring-indigo-500;
  }

  .button-primary:hover {
    @apply bg-indigo-700 font-bold shadow-md transform scale-101;
  }

  .button-secondary {
    @apply bg-indigo-200 text-indigo-700  transition duration-150 ease-in-out;
  }

  .button-secondary:focus {
    @apply outline-none ring-2 ring-offset-2 ring-indigo-500;
  }

  .button-secondary:hover {
    @apply bg-indigo-300 font-bold shadow-md transform scale-101;
  }
}

.button-custom {
  padding: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  cursor: pointer;
  margin-left: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.gray-color {
  border-color: #636363;
  color: #636363;
}
.hr-line {
  width: 1px;
}
.rs-slider-progress-bar {
  background-color: #1e40af !important;
}
.rs-slider-bar {
  background-color: #dbeafe !important;
}
.rs-slider-handle:before {
  border-color: #1e40af !important;
}
@media screen and (max-width: 767px) {
  .apply-overlay {
    height: 800px;
  }
}
@media screen and (max-width: 400px) {
  .apply-overlay {
    height: 800px;
  }
}

.wheelPicker ul {
  border: 1px solid #e5e7eb;
  box-shadow: inset 0px -4px 11px rgba(0, 0, 0, 0.1), inset 0px 4px 11px rgba(0, 0, 0, 0.1) !important;
  border-radius: 8px;
}
.wheelPicker li {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  margin: 5px 0px;
}
.wheelPicker li p {
  font-size: 18px !important;
}
.wheelPicker li span {
  display: none;
}
.wheelPicker li[aria-selected="true"] {
  border-radius: 8px;
  padding-left: 0px;
  border: 2px solid #645F4B;
}

.wheelPicker li[aria-selected="true"] span:nth-child(2) {
  display: block;
  background-color: #50c56e;
  border-radius: 50%;
  height: 8px;
  width: 8px !important;
  content: "";
  position: absolute;
  left: 40%;
}
.wheelPicker li[aria-selected="true"] p {
  font-weight: 500
}
.no-select-dot .wheelPicker li[aria-selected="true"] span:nth-child(2){
  background-color: transparent;
}

.apply-overlay {
  height: 600px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.line-clamp-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
